<!DOCTYPE html>
<html>
  <head>
    <title>EJSDemo</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div class="flexbox">
      <div class="log-form">
        <h2>Login to your account</h2>
        <form id="formLogin" class="form-login">
          <input
            type="text"
            name="username"
            value=""
            title="username"
            placeholder="Username"
          />
          <input
            type="password"
            name="password"
            value=""
            title="username"
            placeholder="Password"
          />
          <button id="btnLogin" type="button" class="btn">Login</button>
          <button id="btnRegister" type="button" class="btn">Register</button>
        </form>
      </div>
      
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
